.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}
.j-center {
    justify-content: center;
}

.j-around {
    justify-content: space-around;
}

.j-between {
    justify-content: space-between;
}

.item {
    &-center {
        align-items: center;
    }
}

.j-start {
    justify-content: start;
}

.wh{
    &-max{
        width: 100%;
        height: 100vh;
    }
}