.welcome{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-info{

        p{
            margin: 20px 0;
            font-size: 1.3rem
            ;
        }
    }

    &-img{
        width: 30rem;
    }

    &-button{
      
    }
}