.aboutme{
    background: color('gradient-blue');

    &-container{
        width: 50%;
    }

    &-info{
        
        h2, p{
            color: color('white');
        }

        h2{
            margin-bottom: 20px;
        }

        p{
            line-height: 40px;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    &-slider{

        img{
            width: inherit;
            height: inherit;
        }
    }
}