.load{
    padding: 5px 10px;
    border-radius: 10px;
    margin:0 10px 10px 0;

    &-num{
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    p{
        color: color('white');
        font-weight: bold;
    }

    &-html{
        background-image: linear-gradient(45deg, color('red-light'), color('red-dark'));
       
    }
}