.nav {
    width: 100%;
    height: fit-content;
    padding: 30px 100px;
    align-items: center;
    position: absolute;

    &-brand {
        font-size: 2rem;
        font-weight: bold;
    }

    &-link {
        margin: 0 10px;
    }

    &-link::after {
        content: "";
        display: block;
        width: 0%;
        height: 3px;
        background: color("gradient-blue");
        transition: width 0.3s ease-in-out;
    }

    &-link:hover::after {
        width: 100%;
        transition: width 0.3s ease-in-out;
    }
}

.tab::after {
    width: 100%;
    content: "";
    display: block;
    height: 3px;
    background: color("gradient-blue");
    transition: width 0.3s ease-in-out;
}
