.redes{

    position: absolute;
    top: 200px;
    right: 30px;

    &-icon{
        width: 50px;
        margin:20px 5px;
    }
}

.blue{
    fill: color('primary');
}

.light{
    fill: color('white');
}

.not-redes{
    display: none;
}
