.redes{

    position: absolute;
    top: 200px;
    right: 30px;

    &-icon{
        width: 50px;
        margin:20px 0px 20px 0;
    }
}

.cls-1{
    fill: rgb(139, 80, 80);
    
}

.not-redes{
    display: none;
}